<?xml version="1.0" encoding="utf-8"?>

<!-- /**
 * Autori : Merola Sabrina, Pafundi Vincenzo, Russo Debora, Tecchia Elisabetta
 * Esame : Programmazione I
 * Facoltà : Ingegneria Informatica Federico II Napoli
 * Data : 21/05/2015
 * Nome File: CITYPOCKET/strings.xml
 * Versione : 1.0
 */-->



<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.provacondatabase"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8" 
        android:targetSdkVersion="22"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.citypocket.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.citypocket.activity.RegioneActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.RegioneActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.citypocket.activity.TuristaActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.TuristaActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.citypocket.activity.ComuneActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ComuneActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.citypocket.activity.CategoriaActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CategoriaActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.citypocket.activity.RisultatoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.RisultatoActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
    </application>

</manifest>
